{% extends 'Formikaro/base_site.html' %}
{% load humanize %}
{% load custom_tags %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FileCollector - Dashboard {% endblock %}</title>
    </head>
    <body>
        {% block content %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="file-plus"></i></div>
                                Asset detail view
                            </h1>
                            <div class="page-header-subtitle">This is a detail page for this asset</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->


        <div class="container mt-n10">
            <!-----------START TABLE------------------->
            <div class="card mb-4 card-header-actions">
                <div class="card-header">Asset {{ asset}}
                    <div style="float:right">
                    <a href="{% url 'FileCollector:create_asset' %}"><button class="btn btn-blue btn-sm">Add</button></a>
                    </div>

                </div>
                <div class="card-body">
                    <div class="datatable">
                       <table class="table table-bordered table-hover" id="dataTable2" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Resource</th>
                                        <th>Type</th>
                                        <th>Owner</th>
                                        <th>Status</th>
                                        <th>Created</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Value</th>
                                        <th>Resource</th>
                                        <th>Type</th>
                                        <th>Owner</th>
                                        <th>Status</th>
                                        <th>Created</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>

                                        <td>
                                            {% if not asset.client_owner or asset.company_owner %}
                                                                                        
                                            <a href=""><button class="btn btn-outline-dark btn-sm" type="button">{{asset.id}}</button></a>
                                            {% else %}
                                            <a href=""><button class="btn btn-outline-primary btn-sm" type="button">{{asset.id}}</button></a>
                                            {% endif %}
                                        </td>
                                        <td>{{ asset.name }}</td>
                                        <td>{{asset.value}}</td>
                                        <td>{% if asset.assettype.is_file %}<span class="text-xs"><a href="file:///{% asset_client_folder_intranet asset client %}" target="_blank">{% asset_client_folder_intranet asset client %}</a></span>
                                            {% else %}
                                            {% if asset.assettype.is_file == 'HEX' %}
                                            <span style="padding:10px; background-color:#{{asset.value}}">#{{asset.value}}</span>
                                            {% else %}
                                            -
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>{{asset.assettype}}</td>
                                        <td>
                                        {% if asset.client_owner %}
                                            <a href="{% url 'FileCollector:client_detail' asset.client_owner.id %}">{{asset.client_owner }}</a>
                                        {% elif asset.company_owner %}
                                            <a href="{% url 'FileCollector:company_detail' asset.company_owner.id %}">{{ asset.company_owner}}</a>
                                        {% endif %}
                                        </td>
                           
                                        <td>
                                            {% if asset.assettype.is_file %}
                                            {% client_asset_exists asset client as result %}
                                            {% if result == 1 %}
                                            <div class="badge badge-success">online</div>
                                            {% elif result == 3 %}
                                            <div class="badge badge-warning">wrong</div>
                                            {% else %}
                                            <div class="badge badge-danger">offline</div>
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>{{asset.created|date:"d-m-y (H:i)"}}</td>
                                    </tr>

                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        <!-----------END TABLE------------------->

        {% endblock %}
    </body>
</html>